<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appenders>
    <console name="stdout" target="SYSTEM_OUT">
      <patternLayout pattern="%d{DEFAULT_MICROS}{UTC}  %level\t[%c{1}] %msg%n" />
    </console>
  </appenders>

  <loggers>
    <root level="info">
      <appenderRef ref="stdout" />
    </root>
  </loggers>
</configuration>